<div ng-show="isAdmin">
  <p>Upload pictures to the user</p>
  <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="10MB" required ngf-model-invalid="errorFile">
  <button ng-disabled="isDisabled" ng-click="uploadPictureToUser(picFile, username)">Submit</button>
  <span ng-show="picFile.result">Upload Successful</span>
  <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</div>

<h2 ng-show="!error">{{username}}'s pictures</h2>
<div ng-show="error" class="alert alert-warning">Sorry that user doesn't exist or it's private</div>
<div class="my_container">
  <ul>
    <li class="block" ng-repeat="picture in pictures">
      <img ng-src="{{picture}}" />
      <span class="block-settings" ng-show="isAdmin">
        <span href="#" class="close" ng-click="deletePictureFromUser(username, picture)"></span>
      </span>
    </li>
  </ul>
</div>
